@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
    font-family: Outfit, sans-serif;
}

body {
    height: 100wh;
    background-color: hsl(212, 45%, 89%);
    align-items: center;
    margin-top: 3%;
}

.main {
    width: 100%;
    height: 100%;
}

.sub {
    height: 100%;
    width: 90%;
    max-width: 500px;
    background-color: hsl(212, 45%, 89%);
    margin:  100px auto;
    border-radius: 20px;
    align-self: center;
    
}

img {
        width: 90%;
        margin:  20px;
        border-radius: 10px;
        
        align-items: center;

}

h3   {
    text-align: center;
    width: 90%;
    margin: 20px;
    color: hsl(218, 44%, 22%);
}

p {
    text-align: center;
    width: 90%;
    margin:  0 20px 50px;
    font-size: 15px;
}